* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}


/* NAVBAR */

nav {
    background-color: transparent;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 48px 12rem 24px 12rem;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links ul li {
    margin: 0 32px 0;
    opacity: 0.5;
}

.links ul li:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

/* SECTIONS */

/* WHITE */

#white {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.white-title-container {

    flex: 0 0 91%;
    max-width: 91%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.white-title-container h1 {
    overflow-y: hidden;
    max-width: 1100px;
    font-size: 130px;
    line-height: 130px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.white-paragraph-container {
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 42%;
    padding-right: 3rem;
    padding-left: 3rem;

}

.white-paragraph-container p {
    font-size: 24px;
    line-height: 44px;
}

.btn-container {
    margin-top: 64px;
    margin-left: 42%;
    padding-right: 3rem;
    padding-left: 3rem;
}

.btn-container span {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    z-index: 99;
}

.white-button-hover {
    z-index: 98;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 43%;
    background-color: black;
    transition: all .5s ease-out;
    opacity: 0.1;
    border-radius: 24px;
    transform: translateY(-40%);

}

.btn-container:hover .white-button-hover {
    background-position: right bottom;
    opacity: 1;
    width: 192px;
}

.btn-container:hover span {
    color: white;
}

/* YELLOW */

#yellow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fbcf10;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.yellow-txt-container {

    width: 60vw;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.yellow-title {
    margin-bottom: 48px;
}

.yellow-title h3 {
    font-size: 26px;
    color: #0a56ee;
}

.yellow-headline {
    max-width: 70%;
}

.yellow-headline h1 {
    font-size: 130px;
    color: #0a56ee;
    margin-bottom: 48px;
}

.yellow-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.yellow-paragraph p {
    font-size: 24px;
    color: #0a56ee;
    line-height: 44px;
}

.yellow-image-container {
    width: 50vw;
    z-index: 98;
}



/* PURPLE */

#purple {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: #5b4099;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.purple-txt-container {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.purple-title {
    margin-bottom: 48px;
}

.purple-title h3 {
    font-size: 26px;
    color: #54deea;
}

.purple-headline {
    max-width: 70%;
}

.purple-headline h1 {
    font-size: 130px;
    color: #54deea;
    margin-bottom: 48px;
}

.purple-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.purple-paragraph p {
    font-size: 24px;
    color: #54deea;
    line-height: 44px;
}

.purple-image-container {
    z-index: 98;
}




/* RED */

#red {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #5e0541;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.red-txt-container {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.red-title {
    margin-bottom: 48px;
}

.red-title h3 {
    font-size: 26px;
    color: #fa7500;
}

.red-headline {
    max-width: 80%;
}

.red-headline h1 {
    font-size: 130px;
    color: #fa7500;
    margin-bottom: 48px;
}

.red-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 70%;
}

.red-paragraph p {
    font-size: 24px;
    color: #fa7500;
    line-height: 44px;
}

.red-paragraph div{
    color: #fa7500;
    font-size: 18px;
    margin-top: 48px;
}

.red-image-container {
    z-index: 98;
}


/* BROWN */

#brown {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: #33332d;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.brown-txt-container {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.brown-title {
    margin-bottom: 48px;
}

.brown-title h3 {
    font-size: 26px;
    color: #e0e0e0;
}

.brown-headline {
    max-width: 70%;
}

.brown-headline h1 {
    font-size: 130px;
    color: #e0e0e0;
    margin-bottom: 48px;
}

.brown-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.brown-paragraph p {
    font-size: 24px;
    color: #e0e0e0;
    line-height: 44px;
}

.brown-paragraph div{
    color: #e0e0e0;
    font-size: 18px;
    margin-top: 48px;
}

.brown-image-container {
    z-index: 98;
}



/* BLUE */

#blue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #033068;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.blue-txt-container {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.blue-title {
    margin-bottom: 48px;
}

.blue-title h3 {
    font-size: 26px;
    color: #aee6cb;
}

.blue-headline {
    max-width: 60%;
}

.blue-headline h1 {
    font-size: 130px;
    color: #aee6cb;
    margin-bottom: 48px;
}

.blue-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.blue-paragraph p {
    font-size: 24px;
    color: #aee6cb;
    line-height: 44px;
}

.blue-paragraph div{
    color: #aee6cb;
    font-size: 18px;
    margin-top: 48px;
}

.blue-image-container {
    z-index: 98;
}



/* GREEN */

#green {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: #55a475;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.green-txt-container {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.green-title {
    margin-bottom: 48px;
}

.green-title h3 {
    font-size: 26px;
    color: #fff3b6;
}

.green-headline {
    max-width: 70%;
}

.green-headline h1 {
    font-size: 130px;
    color: #fff3b6;
    margin-bottom: 48px;
}

.green-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.green-paragraph p {
    font-size: 24px;
    color: #fff3b6;
    line-height: 44px;
}

.green-paragraph div{
    color: #fff3b6;
    font-size: 18px;
    margin-top: 48px;
}

.green-image-container {
    z-index: 98;
}



/* PINK */

#pink {
    background-color: #f2d3d3;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.pink-txt-container {
    float: left;
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.pink-title {
    margin-bottom: 48px;
}

.pink-title h3 {
    font-size: 26px;
    color: #22354f;
}

.pink-headline {
    max-width: 60%;
}

.pink-headline h1 {
    font-size: 130px;
    color: #22354f;
    margin-bottom: 48px;
}

.pink-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.pink-paragraph p {
    font-size: 24px;
    color: #22354f;
    line-height: 44px;
}



.pink-image-container img {
    width: 384px;
    height: auto;
}

/* AQUA */

#aqua {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: #96d8f4;
    width: 100%;
    overflow: auto;
    padding: 156px 0;
}

.aqua-txt-container {
    max-width: 1100px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.aqua-title {
    margin-bottom: 48px;
}

.aqua-title h3 {
    font-size: 26px;
    color: #9b4459;
}

.aqua-headline {
    max-width: 70%;
}

.aqua-headline h1 {
    font-size: 130px;
    color: #9b4459;
    margin-bottom: 48px;
}

.aqua-paragraph {
    padding: 0 30px 0 30px;
    margin: 0 -30px 0 -30px;
    max-width: 60%;
}

.aqua-paragraph p {
    font-size: 24px;
    color: #57303f;
    line-height: 44px;
}

.aqua-image-container {
    z-index: 98;
}



/* SERVICES */

.work-div {
    max-width: max-content;
    height: max-content;
    margin: 96px 0 224px 8.33%;
    padding-left: 3rem;
    padding-right: 3rem;

}

.work-div-hover {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 9%;
    background-color: black;
    transition: all .5s ease-out;
    opacity: 0.1;
    border-radius: 24px;
    transform: translateY(-40%);
}

.work-div:hover .work-div-hover {
    background-position: right bottom;
    opacity: 1;
    width: 192px;
}


.work-div span {

    font-size: 18px;
    font-weight: 700;
    transform: translate(50%, -50%);
    z-index: 98;
}

.work-div:hover span {
    color: white;
    z-index: 99;
}

.services-txt,
.learn-more {
    margin-bottom: 128px;
}

.learn-more-hover {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 9%;
    background-color: black;
    transition: all .5s ease-out;
    opacity: 0.1;
    border-radius: 24px;
    transform: translateY(-40%);
}

.learn-more:hover .learn-more-hover {
    background-position: right bottom;
    opacity: 1;
    width: 300px;
}

#services h1 {
    font-size: 76px;
    line-height: 90px;
    margin-bottom: 64px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

#services p {
    font-size: 24px;
    line-height: 44px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

#services ol {
    margin-bottom: 128px;
    margin-left: 20px;

}

#services ol li {
    position: relative;
    margin-bottom: 48px;
    font-size: 40px;
    font-weight: 700;
    transform: translateX(100px);
}

#services ol span {
    position: relative;
    left: -100px;
    font-size: 12px;
    line-height: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.learn-more span {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
    font-size: 18px;
    font-weight: 700;
}

/* CONTACT */

#contact {
    background-color: rgba(16, 25, 33, .05);
    padding: 224px 0 224px 0;
}

.contact-title {
    margin-bottom: 64px;
}

.contact-title h2 {
    font-size: 40px;
    line-height: 50px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
}

.form-container form {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: 8.33%;
    max-width: 630px;
}

.form-container form span {
    font-size: 18px;
    font-weight: 700;
}

.form-container form input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 30px;
}

.form-container form input::placeholder {
    color: black;
}

.form-container form input:focus::placeholder {
    outline: none;
    font-size: 12px;
    color: grey;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.form-container form input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.checkbox-div span {
    color: grey;
}

.send-it-hover {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 9%;
    background-color: black;
    transition: all .5s ease-out;
    opacity: 0.1;
    border-radius: 24px;
    transform: translateY(-70%);
}

.send-it-btn:hover .send-it-hover {
    background-position: right bottom;
    opacity: 1;
    width: 128px;
}

/* FOOTER */

#footer {
    display: flex;
    flex-direction: column;
    padding: 0 12rem 0 12rem;
}

.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
}

.footer-up-left {
    display: flex;
    flex-direction: row;
}

.footer-card {
    margin-bottom: 64px;
    padding: 0 64px 0 64px;
}

.card-title {
    font-weight: 700;
    margin-bottom: 24px;
}

.card-street,
.card-postal,
.card-link {
    color: rgba(16, 25, 33, .5);
    ;
}

.card-street {
    margin-bottom: 12px;
}

.card-postal {
    margin-bottom: 24px;
}

.footer-up-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 64px;
}

.fab {
    margin: 90px 8px 0 8px;
}

.footer-title p {
    font-weight: 700;
    text-align: right;
}

.footer-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 64px 0 64px;
}

.footer-links {
    padding: 32px 0;
}

.footer-links a {
    font-weight: 700;
    text-decoration: none;
    margin: 0 48px;

}

.copyright {
    padding: 32px 0;
}

.copyright p {
    font-weight: 700;
    text-align: right;
}